In [2]:
# how to connect Google colab to your Google Drive

In [3]:
print(" Reading all your Data form Google drive")

 Reading all your Data form Google drive

In [4]:
from google.colab import drive
drive.mount("/content/drive/")

Mounted at /content/drive/

In [5]:
print("To read your data from Google Drive use the code below")

To read your data from Google Drive use the code below

In [9]:
import pandas as pd
data=pd.read_csv("/content/drive/My Drive/Bio.csv")

In [10]:
data

    Gender  FSIQ  VIQ  PIQ  Weight  Height  Salary
0     Male    50  120  115     102    64.5     250
1   Female    60  130  130     112    85.2     650
2   Female    70  140  145     122   105.9    1050
3   Female    80  150  160     132   126.6    1450
4     Male    90  160  175     142   147.3    1850
5     Male   100  170  190     152   168.0    2250
6   Female   110  180  205     162   188.7    2650
7     Male   120  190  220     172   209.4    3050
8     Male   130  200  235     182   230.1    3450
9   Female   140  210  250     192   250.8    3850
10  Female   150  220  265     202   271.5    4250

In [11]:
data.describe()

             FSIQ         VIQ         PIQ      Weight      Height       Salary
count   11.000000   11.000000   11.000000   11.000000   11.000000    11.000000
mean   100.000000  170.000000  190.000000  152.000000  168.000000  2250.000000
std     33.166248   33.166248   49.749372   33.166248   68.654133  1326.649916
min     50.000000  120.000000  115.000000  102.000000   64.500000   250.000000
25%     75.000000  145.000000  152.500000  127.000000  116.250000  1250.000000
50%    100.000000  170.000000  190.000000  152.000000  168.000000  2250.000000
75%    125.000000  195.000000  227.500000  177.000000  219.750000  3250.000000
max    150.000000  220.000000  265.000000  202.000000  271.500000  4250.000000

In [12]:
data.shape

(11, 7)

In [13]:
import statistics

In [14]:
from numpy.ma.core import mean
mean(data.FSIQ)

100.0

In [16]:
print(data)

    Gender  FSIQ  VIQ  PIQ  Weight  Height  Salary
0     Male    50  120  115     102    64.5     250
1   Female    60  130  130     112    85.2     650
2   Female    70  140  145     122   105.9    1050
3   Female    80  150  160     132   126.6    1450
4     Male    90  160  175     142   147.3    1850
5     Male   100  170  190     152   168.0    2250
6   Female   110  180  205     162   188.7    2650
7     Male   120  190  220     172   209.4    3050
8     Male   130  200  235     182   230.1    3450
9   Female   140  210  250     192   250.8    3850
10  Female   150  220  265     202   271.5    4250

In [17]:
import pandas as pd
d=pd.read_csv("/content/drive/My Drive/DataBank/CD.csv")

In [18]:
print(d)

         ID                          SCh_Name State         City FirstName  \
0    1023.0  Affordable Truck Driver Training    AL      Moulton     Wanda
1    1024.0    American Truck Driving Academy    AL  Phenix City       Dee
2    1025.0                   Bevill State CC    AL      Sumiton       NaN
3    1026.0    Bishop State Community College    AL       Chatom     Steve
4    1027.0                      Bishop State    AL       Mobile      Brad
..      ...                               ...   ...          ...       ...
475     NaN                               NaN   NaN          NaN       NaN
476     NaN                               NaN   NaN          NaN       NaN
477     NaN                               NaN   NaN          NaN       NaN
478     NaN                               NaN   NaN          NaN       NaN
479     NaN                               NaN   NaN          NaN       NaN

    LastName        Phone      Tution   Unnamed: 8
0       Null  256-974-4120  $96,700.00         NaN
1     Newsom  334-298-9194  $66,400.00         NaN
2       Null  205-648-3271  $60,800.00         NaN
3       Neal  251-656-3263  $69,800.00         NaN
4    Wallace  251-660-1733  $71,200.00         NaN
..       ...           ...         ...         ...
475     Null           NaN         NaN         NaN
476     Null           NaN         NaN         NaN
477     Null           NaN         NaN         NaN
478     Null           NaN         NaN         NaN
479     Null           NaN         NaN         NaN

[480 rows x 9 columns]

In [19]:
data.head

<bound method NDFrame.head of     Gender  FSIQ  VIQ  PIQ  Weight  Height  Salary
0     Male    50  120  115     102    64.5     250
1   Female    60  130  130     112    85.2     650
2   Female    70  140  145     122   105.9    1050
3   Female    80  150  160     132   126.6    1450
4     Male    90  160  175     142   147.3    1850
5     Male   100  170  190     152   168.0    2250
6   Female   110  180  205     162   188.7    2650
7     Male   120  190  220     172   209.4    3050
8     Male   130  200  235     182   230.1    3450
9   Female   140  210  250     192   250.8    3850
10  Female   150  220  265     202   271.5    4250>

In [20]:
# note file_name.head()